h1{
	background: rgb(121,9,9);
	background: linear-gradient(90deg, rgba(121,9,9,0.5133403703278187) 0%, rgba(5,185,92,0.6057773451177346) 52%, rgba(255,0,0,0.49933476808692223) 100%);
	padding:20px;
}

.customButton{
	font-size:25px;
    background-color: rgba(0,0,0,0.1);
    border:0;
	color:black;
	margin-top:10px;
}
.customButton:hover{
	font-size: 30px;
}

.customInput{
	background-color: rgba(0,0,0,0.4);
	color:white;
	font-family: monospace;
	font-size: 25px;
}
.customInput:focus{
	font-size: 35px;
}
.customLabel{
	font-size:20px;
	color:whitesmoke;
	margin-bottom:5px;
}