.App {
  text-align: center;
}

.headerStyle{
  margin-top:8vh;
  font-size:5vh;
  font-style: italic;
  letter-spacing: 10px;
  background-color: rgba(0,0,0,0.3);
}
.logoutBtn{
	background-color: darkgreen;
	color:black;
	font-style: italic;
	font-size:3vh;
	margin:6px;
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	border-color:black;
}