.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 18vh;
  background-color:black;
  color:white;
}
.nav-links{
  width:50%;
  display:flex;
  justifx-centent:space-around;
  align-items: center;
  list-style: none;
}
li{
  margin-left:30px;
  list-style: none;
}
a{
  text-decoration: none;
  margin-left:0;
  padding-left:0;
}
.inputForm{
  padding-top:30px;
  background-color: darkgreen;
}
.inputForm-input{
  margin:10px;
  text-align: center;
  color:red;
  font-weight: bold;
}
.showuserNameTopLeft{
  color:white;
  background-color: black;
  margin:0;
}
.navStyle{
  color:white;
}