.noteDiv{
	display: inline-block;
	margin-top:20px;
}
.note{
	white-space: pre;
	font-size:4vh;
	border-style: none;
	background-color:rgba(250,250,250,0.5);
}
.note:hover{
	font-size:4.5vh;
}
.note:active{
	color:red;
}
.note:focus{
	color:red;
}
.notedate{
	font-size:2vh;
	font-weight: bolder;
}
.notedate:hover{
	font-size:2.5vh;
}
