.fa-trash-o{
	font-size:4vh;
}

.buttonEnter{
	background-color:rgba(0,0,0,0.5);
	border-style: none;
	color:white;
	font-weight: bold;
	font-style: italic;
	border-radius: 20%;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	font-size:2.5vh;
	margin:10px;
}
.buttonEnter:hover{
	font-size:3vh;
	background-color:rgba(255,255,255,0.7);
	color:black;
}
.buttonEnter:focus{
	font-size:3vh;
	background-color:rgba(255,255,255,0.7);
	color:black;
}

.noteInput{
	font-size:4vh;
	color:black;
	margin:10px;
	background-color:rgba(255,255,255,0.2);
	border-style: none;
	border: 5px solid rgba(0,0,0,0.8);
	text-align: left;
}
.noteInput:focus{
	font-size:6vh;
	transition-delay:0s;
	width: 80vw;
}
.inputDate{
	font-size:3vh;
	color:blue;
	margin:0px;
	background-color:rgba(255,255,255,0.2);
	border-style: none;
	border: 3px solid rgba(0,0,0,0.8);
	text-align: center;
	width: 50px;
	font-weight: bold;
}
.inputDate:focus{
	font-size:5vh;
	transition-delay:0s;
	width: 80px;
}
.inputDateLong{
	font-size:3vh;
	color:blue;
	margin:0px;
	background-color:rgba(255,255,255,0.2);
	border-style: none;
	border: 3px solid rgba(0,0,0,0.8);
	text-align: center;
	width: 80px;
	font-weight: bold;
}
.inputDateLong:focus{
	font-size:5vh;
	width:130px;
}
.deleteText{
	color:black;
	font-size: 2vh;
	font-style: italic;
}
.deleteText:hover{
	font-size: 4vh;
}
.deleteBtn{
	background-color:rgba(0,0,0,0.5);
	border-style: none;
	color:rgb(227,10,23);
	font-weight: bold;
	font-style: italic;
	border-radius: 20%;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	font-size:2.5vh;
	margin:10px;
}
.deleteBtn:hover{
	font-size:3.5vh;
}
.deleteBtn:focus{
	font-size:3.5vh;
}